@model IEnumerable<PeoplePro.Models.Building>

@{
    ViewData["Title"] = "Buildings";
}

<h1>Buildings</h1>

@await Html.PartialAsync("_Table", Model)

<!-- Modal placeholder-->
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="addBuildingLabel" aria-hidden="true" data-url="@Url.Action("AjaxCreate")">
    <div id="modal-content"></div>
</div>

<!-- Button Trigger Modal -->
<button type="button" class="btn btn-primary" id="show-modal">
    Add Building
</button>