@model IEnumerable<PeoplePro.Models.Department>

@{
    ViewData["Title"] = "Departments";
}

<h1>Departments</h1>

@await Html.PartialAsync("_Table", Model)

<!-- Modal placeholder-->
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="addDepartmentLabel" aria-hidden="true" data-url="@Url.Action("AjaxCreate")">
    <div id="modal-content"></div>
</div>

<!-- Button Trigger Modal -->
<button type="button" class="btn btn-primary" id="show-modal">
    Add Department
</button>