@{
    ViewData["Title"] = "Home Page";
}

<div class="text-md-center">
    <h1 class="display-4">Welcome to People Pro!</h1>
    <p>This project was created by Emily Winjum as a demo for CASS's onboard training!</p>
    <h2>So what can I do here?</h2>
    <p>
        Check out the various tabs for all of the data! <br>
        The relational database stores information about employees, <br>
        the buildings they can reside within, and the department <br>
        they belong to.
    </p>
</div>
