@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    The only privacy information to share is that anything you enter into the database 
    may be stored for a significant length of time, potentially even after a deletion.
</p>
<p>
    Information will not be distributed to any 3rd parties.
</p>
